

.login-background {
    display: flex;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: #242529;

}

