/* .carousel-container {
  display: flex;
  height: 500px;
  background: #777;
  color: white;
} */

.carousel-item {
  height: 1000px;
  background: white;
  color: black;
}

/* .slide-images {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
} */

.container-head {
  width: 75%;
  padding: 14rem 0;
}

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}
